**/bin/Debug/
**/bin/Release/
*.cache
**/.vs/

*.cache
*.cache
ShopBridgeUnitTest/obj/Debug/net5.0/ShopBridgeUnitTest.csproj.AssemblyReference.cache
ShopBridgeUnitTest/obj/Debug/net5.0/ShopBridgeUnitTest.assets.cache
ShopBridgeUnitTest/bin/Debug/net5.0/CoverletSourceRootsMapping
ShopBridgeBackEnd/obj/Debug/net5.0/ShopBridgeBackEnd.csproj.AssemblyReference.cache
ShopBridgeBackEnd/obj/Debug/net5.0/ShopBridgeBackEnd.assets.cache
